.mainNav {
    background: #2c3e50;
    width: auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.mainNav a {
    margin-right: 1rem;
    text-decoration: none;
}

.mainNav a:hover {
    text-decoration: none;
}

.fullLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.logoName .firstName {
    color: #1abc9c;
}

.imageContainer {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.logoName {
    margin-left: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.fullLogo .logoImage {
    display: inline-block;
    overflow: hidden;
    height: 80px;
    width: 80px;
    background-color: brown;
    background-image: url("public/assets/emran_thumb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgImage {
    height: 80px;
    z-index: 0;
}

.menuItem {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}