.fullLogo {
    display:flex;
    justify-content: center;
}

.imageContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.logoImage {
    display: inline-block;
    overflow: hidden;
    height: 80px;
    width: 80px;
    background-color: brown;
    background-image: url("public/assets/emran_thumb.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bgImage {
    height: 80px;
    z-index: 0;
}